body{
 background-image: url("../img/fon\ \(1\).png");
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dws-menu{
    background-color: rgb(255, 255, 255);
    margin-top: -20px;
    width: 100%;
}
.dws-menu1{
 background-color: rgb(255, 255, 255);
 margin-top: -10px;
 width: 100%;
}
ul.dws-ul{
 display: flex;
 padding: 0;
 justify-content: center;
}
li.dws-li{
 list-style: none;
 padding: 10px;
}
li.dws-li a{
 text-decoration: none;
 font-size: 18px;
 color: #000;
 position: relative;
 padding: 5px;
}
li.dws-li a i{
 margin-right: 10px;
}
li.dws-li a::before{
 content: '';
 width: 0;
 height: 3px;
 background-color: #33bdf1;
 position: absolute;
 top: 90%;
 left: 0;
 transition: .5s;
 mix-blend-mode: multiply;
}
li.dws-li a::after{
 content: '';
 width: 0;
 height: 3px;
 background-color: #ff2117;
 position: absolute;
 top: 90%;
 right: 0;
 transition: .5s;
 mix-blend-mode: multiply;
}
li.dws-li:hover{
 background-color: #e5eae8;
}
li.dws-li:hover a::before{
 width: 50%;
 transform: translateX(100%);
}
li.dws-li:hover a::after{
 width: 50%;
 transform: translateX(-100%);
}
li.dws-li a:hover{
 color: #e62117;
}


.img{
    position: absolute;
    top: -15px;
    left: -10px;
    width: -550px;
    height: 120px;
}


.ghoul {
    top: 32%;
    left: 37%;
    width: 35%;
    position: absolute;
}

.ghoul h1{
     margin: 0;
     font-size: 40px;
     color: rgb(0, 0, 0);
}
.ghoul p{
     color: rgb(80, 80, 90);
}
.memi {
    background: none;
    border: 2px solid #1f2944;
    text-decoration: none;
    color: #1f2944;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: .4s;
}

.memi:hover {
    background: #1f2944;
    color: #fff;   
}






.baklashan {
    background: none;
    position: absolute;
    top: 60%;
    left: 20%;
    width: 100%;
}

.b10 {
    position: absolute;
    top: -30px;
    left: -200px;
    width: 10%;
}

.bebra:hover {
        background: none;
        color: white;
}

.b10 h6 {
    position: absolute;
    top: 20px;
    left: 200px;
    color: rgb(32, 31, 36);
}

